*{
 margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; 
}

body {
	background-image: url("fondo filebox.JPG");
	font-family: "Open sans";
}

.navegacion {
	width: 1000px;
	margin: 30px auto;
	background-color: #fff;
	
	
}

.navegacion ul {
	list-style: none;
}

.menu > li {
	/*position: relative;*/
	display: inline-block;
}
.menu > li > a {
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: "Open sans";
	text-decoration: none;
}

.menu li a:hover {
	color: #c2f0ef;
	transition: all 300ms ease;
}







.pie-pagina {
	width: 101%;
	background-color: #0a141d;
	
}
.pie-pagina .grupo-1 {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.pie-pagina .grupo-1 .box figure img {
	width: 250px;	
}
.pie-pagina .grupo-1 .box h2 {
	color: #fff;
	margin-bottom: 25px;
	font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
	color: #efefef;
	margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	margin-right: 10px;
	background-color: #0d2033;
	text-align: center;
	transition: all 300ms ease;	
}
.pie-pagina .grupo-1 .red-social a:hover {
	color: aqua;
	transition: all 300ms ease;
}

.pie-pagina .grupo-2 {
	background-color: #0a1a2a;
	padding: 15px 10px;
	text-align: center;
	color: #fff;
}
.pie-pagina .grupo-2 small {
	font-size: 15px;
}


@media screen and (max-width:800px) {
	.pie-pagina .grupo-1 {
	width: 90%;
	gird-template-columns: repeat(1, 1fr);
	grid-gap: 30px;
	padding: 35px 0px;
}
}



.imagen {
	width: 390px;
	height: 118px;
	display: block;
	margin: 0px auto;
	
}

.parrafo {
	margin: auto;
	background: #5D6D7E ;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	width: 1000px;
	height: 50%;
	padding: 20px 20px;
	
}
.negra {
	color: #fff;	
}
.negra:hover {
	color: #c2f0ef;
	transition: all 300ms ease;
}
.pe {
	border-radius: 30px;
	min-height: calc(100vh - 100px - 300px);
	
}
.a {
	display: block;
	width: 150px;
	font-family: Arial, Helvetica , sans-serif;
	font-weight: 700;
	border-radius: 10px;
	margin: 150px 130px;
	padding: 15px 30px;
	text-decoration: none;
	color: #fff;
	background-color: #58D68D ;
	margin: 0px auto;
}
.a:hover {
	background-color: transparent;
	border: 2px solid #D5F5E3 ;
	color: #fff ;
	transition: all 300ms ease;
	
}